RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^product([0-9]*).html product-detail.php?id=$1 [QSA,L]

ErrorDocument 401 http://localhost:81/shop/404.php

ErrorDocument 403 http://localhost:81/shop/404.php

ErrorDocument 404 http://localhost:81/shop/404.php

ErrorDocument 500 http://localhost:81/shop/404.php